* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  text-align: right;
  min-width: 500px;
  margin-top: 5%;
  white-space: nowrap;
}

.text-wrapper {
  font-family: 'Lato', sans-serif;
}

.title {
  color: #1b1b1b;
  font-size: clamp(7rem, 12vw, 15rem);
}

.sub {
  font-size: clamp(1.5rem, 2.45vw, 3rem);
  font-weight: 500;
  color: #808080;
  margin-right: 34%;
  line-height: 2px;
}

.banner {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: clamp(1.5rem, 2.45vw, 3rem);
  font-weight: 900;
  background-color: #974545;
  padding: 8px;
  transform: rotate(355deg);
  margin-left: 68%;
  margin-top: -7%;
}

.desc, .btn-link {
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(0.8rem ,1.3vw, 3rem);
}

.desc {
  margin-top: 12%;
  margin-bottom: 8%;
}

.desc, span {
  display: block;
}

.btn-link {
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  color: #008b8b;
}

.fat-hanz {
  min-block-size: 35vw;
}